body {
	background-color: #fad390;
	width: auto;
	height: 100%; 
	overflow-x: hidden;
}
.game-container {
	position: absolute;
	top: 25%;
	left: 25%;
  width: 700px;
  background-color: #ccc;
  border-radius: 3px;
}

* {
	box-sizing: border-box;
}
  
.row {
	display: flex;
}

.column {
	flex: 50%;
	padding: 10px;
	display: block; 
}

.column:first-child {
	background-color: #aaa;
}

.column:nth-child(2) {
background-color: #bbb;
}

#menu {
	position: relative;
	width: 100%;
	text-align: center;	
}

/* 
	lists
*/ 

ul {
	list-style-type: none;
	padding: 0;
}

/* 
	game grid
*/ 

#table {
	margin: 0 auto;
}

table {
	border: none;
	max-width: 200px; 
	background-color: none;  
}

table, th, td {
	// border: 0px; 
	// border-collapse: collapse;
}

tr { 
	line-height:0px;
	height:12.5px; /* 500px / 23 rows */
}

tr.piece-staging-row {
	visibility: hidden; 
}

#gameGrid {
	display: block; 
}

td {
	background-color: transparent; /* outer, trimmed table secton. not apart of play field */
	border:1px solid black;
	min-height: 14px;
	vertical-align: bottom;
	min-width: 14px; 
}

td.staging-cell {
	background-color: red;
}

.preview {
	width: 10%; 
}
/*
	game pieces 
*/

.iPieceClass {
	background-color: #6aedef;
}

.jPieceClass {
	background-color: #000c74;
}

.oPieceClass {
	background-color:#6ab04c;
}

.rightSnakePieceClass {
	background-color: #ffbe76; 
}
